@import url("https://fonts.googleapis.com/css?family=Bungee+Hairline|Lato:300");
body{
    background-color: #0099CC;
}
h1,h2{
    color:aliceblue;
    font-family: "Bungee Hairline";
}
h1{
    text-align: center; 
    font-size: 200%;
}
h2{
    font-size:larger;
}
p{
    
}
i{
    font-size: 0%;
}